*{
margin: 0;
padding: 0;
}
.grupo{
    display: flex;
    flex-direction: column;
}

.cabecalho{
    background-color: greenyellow;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu a {
    color: firebrick;
    text-decoration: none;
    margin-left: 15px;
}
.menu a:hover{
    color: rgb(0, 2, 0);
}
.conteudo{
display: flex;
height: 200px;
}
    

 background-color: deeppink;
.Rodapé{
background-color: gold;
}
.navegacao{
    background-color: rgb(61, 61, 158);
    display: inline-block;
    width: 30%;
    padding: 10px;
}
.navegacao ul {
list-style: none;
padding: 0;
}
.navegacao li {
margin-bottom: 10px;
}
.secao {
background-color: gold;
display: inline-block;
width: 70%;
padding: 10px;

}
.secao p {
    margin-bottom: 10px;
}